HOST=127.0.0.1:3000
CUSTOM_NETWORK_SUBNET=172.20.0.0/16

# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432

# Minio
MINIO_ACCESS_KEY_ID=my_access_key
MINIO_SECRET_ACCESS_KEY=my_secret_key
MINIO_REGION=us-east-1
MINIO_HOST=172.20.0.11
MINIO_HOST_ALT=172.20.0.13
MINIO_PORT=9000
MINIO_ENDPOINT=http://${MINIO_HOST}:${MINIO_PORT}

# REDIS
REDIS_PORT=6379

# App
APP_PORT=3000
DB_NAME=dev_db
DB_NAME_TEST=test_db
DB_HOST=127.0.0.1
DB_PORT=${POSTGRES_PORT}
DB_USERNAME=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}

EXPIRATION_TIME_MINUTES=15
SECRET_KEY=secret_key
