default: &default
  DB_HOST: '127.0.0.1'
  DB_PORT: '5432'
  DB_USERNAME: 'postgres'
  DB_PASSWORD: 'root'

  SECRET_KEY: ~
  EXPIRATION_TIME_HOURS: ~

development:
  <<: *default
  DB_NAME: 'dev_db'

development:
  <<: *default
  DB_NAME: 'test_db'

production:
 <<: *default
  DB_NAME: 'prod_db'
